@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*
  ====== Скрывает скрытые заголовки ======
*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*
  ====== Управляет основным слоем ======
*/

.layout {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;

  position: relative;

  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

/*
  ====== Кнопки ======
*/

.button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;

  display: inline-block;

  padding: 0;
  margin: 0;

  border: none;
}

.button-lg {
  font-size: 21px;
  line-height: 26px;
}

.button-sm {
  padding: 0 17px;
  line-height: 27px;
}

.button-coffee {
  background-color: #766357;
}

.button-coffee:hover,
.button-coffee:focus {
  background-color: #604e43;
  outline: none;
}

.button-coffee:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-seagull {
  background-color: #81b3d2;
}

.button-seagull:hover,
.button-seagull:focus {
  background-color: #669ec0;
  outline: none;
}

.button-seagull:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

/*
  ====== Основной текст ======
*/

.title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;

  margin: 0;
  padding: 0;
}

.description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

  margin: 0;
  padding: 0;

  width: 100%;  /* Без этого свойства содержимое параграфа уходит за пределы контейнера в IE */
}

.num {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

  margin: 0;
  padding: 0;
}

.num::before {
  content: '\2014\00a0';
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

  margin: 0;
  padding: 0;
}

.num::after {
  content: '\00a0\2014';
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

  margin: 0;
  padding: 0;
}

.white-color,
.white-color::before,
.white-color::after {
  color: #ffffff;
}

/*
  ====== Хэдер ======
*/

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  height: 56px;
  width: 100%;
  padding: 0 6%;
  position: relative;
  box-sizing: border-box;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;

  z-index: 1;
}

.site-navigation {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a.site-navigation-current {
  color: #766357;
}

.site-navigation li {
  flex-basis: 23%; /* В ТЗ — 20%, но тогда не соответствует макету */
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:last-child {
  text-align: right;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

/*
  ====== Хироу ======
*/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  height: 512px;
  height: 508px;  /* ! Это новый размер */
  background-color: #9fc3db;
  background-image: url("../img/hero-background-res1200.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 100%;
  max-height: 57px;

  background-image: url("../img/mask-res1200.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

/*
  ====== Интро ======
*/

.intro {
  display: flex;
  flex-direction: column;

  padding: 60px 0 51px 0;
}

.intro .title,
.intro .description {
  text-align: center;
  line-height: 26px;
}

.intro .title {
  white-space: pre-line;

  margin: 0 0 28px 0;
  padding: 0;
}

.intro .description {
  margin: 0;
  padding: 0;
}

/*
  ====== Фичи ======
*/

.features {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.features-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  width: 100%;
}

.features-row:nth-of-type(3) .features-item {
  order: 1;
}

.features-item {
  color: inherit;
  text-align: center;
  /* white-space: pre-line; */
  /* hyphens: auto; */

  height: 256px;
  max-width: 400px;

  padding: 50px 4% 40px 4%;
  box-sizing: border-box;

  flex-basis: 33%;
  flex-grow: 2;

  /* display: flex;
  flex-direction: column;
  align-items: center; */

  background-color: #eeeeee;
}

.features-row:last-of-type .features-item {
  padding: 50px 5% 40px 5%; /* Но тогда на резине текст отображается неправильно */
}

.features-row:first-of-type .features-item,
.features-row:nth-of-type(3) .features-item {
  background-color: #81b3d2;
}

/* .features-item .title,
.features-item .num,
.features-item .num::before,
.features-item .num::after {
  margin-bottom: 22px;
} */

.features-item .title {
  margin: 0 auto;
  
  text-align: center;
  white-space: pre-line;
}

.features-item .num {
  display: block;
  margin: 22px 0;
}

.features-image {
  height: 256px;

  flex-basis: 66%;
  flex-grow: 3;

  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.features-row:first-of-type .features-image {
  background-image: url("../img/town.jpg");
}

.features-row:nth-of-type(3) .features-image {
  background-image: url("../img/bridge.jpg");
}

.features-list {
  margin: 0;
  padding: 0;

  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.features-list-item {
  font-size: 0;
  text-align: center;

  max-width: 400px;
  flex-basis: 33%;
  flex-grow: 1;

  margin: 58px 4% 6.5%;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-list-item .title {
  margin: 30px 0 22px 0;
}

.features-list-item::before {
  content: '';
  top: 0;
  width: 75px;
  height: 76px;

  background-repeat: no-repeat;
  background-position: bottom;
}

.house::before {
  background-image: url("../img/home-icon.svg");
  background-size: 75px 72px;
}

.food::before {
  background-image: url("../img/burger-icon.svg");
  background-size: 74px 70px;
}

.gifts::before {
  background-image: url("../img/gift-icon.svg");
  background-size: 64px 76px;
}

/*
  ====== Приглашение найти гостиницу ======
*/

.search-container {
  display: flex;
  flex-direction: column;
}

.search-container .call-to-action {
  height: 290px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
}

.call-to-action h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;

  margin: 54px 0 22px 0;
}

.call-to-action .description {
  line-height: 24px;
  white-space: pre-line;
}

.call-to-action button {
  line-height: 86px;
  width: 568px;

  margin: 0;
  padding: 0;

  margin: auto auto 0 auto;
}

.search-container .search-form {
  height: 594px;
  position: relative;
}

.map {
  height: 100%;
  width: 100%;

  frameborder: 0;
  border: none;

  background-color: #cad7a6;
  background-image: url("../img/map.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

/*
  ====== Модалка с формой на главной ======
*/

.hotel-search-form {
  width: 568px;
  padding: 55px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -284px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.hotel-search-form .form-field {
  height: 38px;

  display: flex;
  flex-direction: row;
  align-items: center;

  position: relative;
}

.hotel-search-form input {
  font-size: 14px;
  /* line-height: 26px; */
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  border: 2px solid #f2f2f2;

  background-color: #f2f2f2;
}

.hotel-search-form input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.hotel-search-form .input-lg {
  height: 100%;
  /* width: 346px; */

  box-sizing: border-box;
  padding: 0 45px 0 12px;

  flex-grow: 1;
}

.hotel-search-form .form-field:first-child {
  margin-bottom: 29px;
}

.hotel-search-form .form-field:nth-child(2) {
  margin-bottom: 30px;
}

.hotel-search-form label {
  font-size: 14px;
  /* line-height: 26px; */
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
}

.hotel-search-form .form-field label[for="arrival-date-field"] {
  margin-right: 23px;
}

.hotel-search-form .form-field label[for="departure-date-field"] {
  margin-right: 19px;
}

.hotel-search-form .form-field label[for="number-of-adults-field"] {
  margin-right: 39px;
}

.hotel-search-form .form-field label[for="number-of-children-field"] {
  margin-left: auto;
  margin-right: 27px;
}

.hotel-search-form input[type="text"]:hover {
  border: 2px solid #ebebeb;
  background-color: #ebebeb;
}

.hotel-search-form input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.hotel-search-form input[type="number"]::-webkit-outer-spin-button,
.hotel-search-form input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hotel-search-form input[type="number"] {
  box-sizing: border-box;
  -moz-appearance: textfield; /* Чтобы скрыть стрелки для FireFox */
}

.hotel-search-form .form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.hotel-search-form .form-row .form-field {
  flex-basis: 50%;
  margin-bottom: 0;

  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.form-field button:active svg {
  position: relative; /* Это чтобы убрать трехмерный эффект при нажатии на button в ie */
}

.hotel-search-form .form-field .math-symbol-minus {
  order: 1;
}

.hotel-search-form .form-field input {
  order: 2;
}

.hotel-search-form .form-field .math-symbol-plus {
  order: 3;
}

.hotel-search-form button[type="submit"] {
  line-height: 58px;
  width: 100%;
  margin-top: 54px;
}

button.calendar-icon {
  margin: 0;
  padding: 0;
  font-size: 0;

  width: 21px;
  height: 22px;

  position: absolute;
  right: 9px;
  top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background: none;
}

button.calendar-icon svg {
  width: 21px;
  height: 22px;
  fill: #cacaca;
}

button.calendar-icon:hover svg {
  fill: #000000;
}

button.calendar-icon:active svg {
  fill: #81b3d2;
}

.hotel-search-form button.input-control,
.hotel-search-form input[type="number"] {
  width: 38px;
  height: 38px;

  font-size: 14px;
  line-height: 26px;

  border: none;
  outline: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: #f2f2f2;
}

.hotel-search-form .input-control,
.hotel-search-form .calendar-icon ,
.hotel-search-form .input-control:hover,
.hotel-search-form .calendar-icon:hover,
.hotel-search-form .input-control:active,
.hotel-search-form .calendar-icon:active,
.hotel-search-form .input-control:focus,
.hotel-search-form .calendar-icon:focus {
  outline: none;
  cursor: pointer;
}

.input-control.math-symbol-minus svg {
  width: 15px;
  height: 15px;
}

.input-control.math-symbol-plus svg {
  width: 15px;
  height: 15px;
}

.input-control svg {
  stroke: #a9a9a9;
}

.input-control:hover svg {
  stroke: #000000;
}

.input-control:active svg {
  stroke: #81b3d2;
}

/*
  ====== Футер ======
*/

.main-footer {
  height: 120px;
  width: 100%;

  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.9);

  z-index: 1;
}

.main-footer.inner-page {
  position: relative;
  background-color: #ffffff;
}

.main-footer > div,
.main-footer > ul {
  flex-basis: 0;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;

  flex-grow: 1;
}

ul.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

ul.footer-social li:not(:last-child) {
  margin-right: 6px;
}

.footer-social .social-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-tw svg {
  width: 17px;
  height: 15px;

  pointer-events: none;
}

.social-fb svg {
  width: 12px;
  height: 22px;

  pointer-events: none;
}

.social-yt svg {
  width: 20px;
  height: 16px;

  pointer-events: none;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button svg {
  fill: #ffffff;
  pointer-events: none;
}

.social-button:hover svg {
  fill: #ffffff;
  pointer-events: none;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active svg {
  fill: #ffffff;
  fill-opacity: 0.3;
  pointer-events: none;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer-copyright span {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin-right: 8px;
}

.footer-copyright svg {
  vertical-align: middle;
  pointer-events: none;
}

.footer-copyright a path {
  fill: #231f20;
  pointer-events: none;
}

.footer-copyright a:hover path {
  fill: #81b3d2;
  pointer-events: none;
}

.footer-copyright a:active path {
  fill: #bdbbbc;
  pointer-events: none;
}

/*
  ====== Спрайты ======
*/

.social-split {
  display: none;
}

/*
  ====== Форма поиска по фильтрам ======
*/

.search-filters {
  /* height: 217px; */ /* Это свойство использовалось для тестов */

  background-color: #586a79;
  background-image: url("../img/filter-background-res1200.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.search-filters-form {
  display: flex;
  flex-direction: row;

  padding: 0 6%;
}

.search-filters-form .form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.form-group:first-child {
  flex-basis: 255px;
  /* max-width: 255px;
  min-width: 255px; */
}

.form-group:nth-child(2) {

}

.form-group:last-child {
  margin-left: auto;
  margin-top: 14px;
  flex-basis: 33%;
  max-width: 318px;
}

.form-group:first-child,
.form-group:nth-child(2) {
  margin: 14px 0 19px 0;
}

.form-group legend {
  font-size: 16px;
  /* line-height: 21px; */
  line-height: 46px;
  font-weight: bold;
  color: #ffffff;

  /* height: 46px; */
  margin-right: 0;
}

.form-group:last-child legend {
  height: 42px;
}

.form-group-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;  /* А иначе в Safari происходит центрирование ul по горизонтали */
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
}

.form-group-items li {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;

  border: none;
  height: 46px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkmark {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0;
  padding: 0;

  width: 27px;
  height: 23px;
}

.checkmark + label {
  position: relative;
  padding: 0 0 0 40px;
  cursor: pointer;
  height: 100%;

  display: flex;
  align-items: center;
}

.checkmark + label::before {
  content: '';
  position: absolute;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-size: 23px 23px;
  background-repeat: no-repeat;
}

.checkmark:focus + label::before {
  outline: 2px solid #669ec0;
}

.checkmark:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
  background-size: 27px 23px;
}

.checkmark:disabled + label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
  background-size: 23px 23px;
}

.checkmark:checked:disabled + label::before {
  background-image: url("../img/checkbox-on-disabled.svg");
  background-size: 27px 23px;
}

.slider {
  height: 2px;
  width: 100%;
  position: relative;

  background-color: rgba(255, 255, 255, 0.3);
}

.slider .slider-range {
  height: 100%;
  width: 80%;
  left: 0;

  background-color: #ffffff;
}

.slider .slider-handle {
  width: 22px;
  height: 24px;

  position: absolute;
  z-index: 2;
  top: -9px;
  margin-left: -1px;

  background-image: url("../img/filter-button.svg");
  background-size: 20px 22px;
  background-repeat: no-repeat;
}

.slider .slider-handle:hover {
  top: -10px;

  background-size: 22px 24px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider .slider-handle:first-child {
  left: 0;
}

.slider .slider-handle:last-child {
  left: 80%;
}

.num-range {
  width: 100%;

  margin-bottom: 22px;
  position: relative;

  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.num-range::before {
  content: '';
  position: absolute;
  right: 50%;
  top: 5px;

  width: 2px;
  height: 22px;

  background-color: #ffffff;
}

.num-range-field {
  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
  flex-basis: 50%;

  height: 32px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.num-range-field input {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.search-filters-submit {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;

  width: 133px;
  height: 32px;
  box-sizing: content-box;

  padding: 0;
  margin: 34px auto auto auto;

  background: none;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.search-filters-submit:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

/*
  ====== Сортировка результатов поиска в каталоге ======
*/

.search-results-sorting {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  flex-wrap: nowrap;

  /* height: 86px; */
  padding: 0 6%;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.search-results-sorting .found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  padding: 30px 0 30px;
  margin-right: 50px;
}

.sort-filters {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  padding: 36px 0 29px;
}

.sort-filters ul {
  font-size: inherit;
  list-style: none;
  display: inline-block;

  padding: 0;
  margin: 0;
}

.sort-filters li {
  display: inline-block;

  margin: 0;
  padding: 0;
}

.sort-by-type-list li:not(:last-child) {
  margin-right: 32px;
}

.sort-by-type {
  margin-right: auto;
}

.sort-by-type span {
  margin-right: 38px;
}

.sort-by-order-list li:not(:last-child) {
  margin-right: 9px;
}

.sort-by-type a {
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}

.current-sort-type a {
  color: #81b3d2;
  border-bottom: 0;
}

.sort-by-type a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-by-type a:active {
  color: #000000;
  border-bottom: 0;
}

.sort-by-order svg {
  width: 11px;
  height: 10px;
  fill: #b2b2b2;
}

.current-sort-order svg {
  fill: #81b3d2;
}

.sort-by-order a:hover svg {
  fill: #000000;
}

.sort-by-order a:active svg {
  fill: #b2b2b2;
}

/*
  ====== Результат поиска ======
*/

.search-results-row {
  height: 90px;
  padding: 30px 6%;
  border-bottom: 1px solid #e5e5e5;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.house-image {
  margin-right: 30px;
}

.house-description {
  margin-right: auto;

  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}

.house-description .name {
  font-size: 21px;
  /* line-height: 26px; */
  font-weight: bold;
  color: #000000;

  margin: 0;
  padding: 0;
}

.house-description .name:hover {
  color: #81b3d2;
}

.house-description .name:active {
  color: rgba(0, 0, 0, 0.3);
}

.name a {
  color: inherit;
}

.house-description .button:first-child {
  margin-right: 3px;
}

.house-description .type {
  width: 100px;
  display: inline-block;
  margin-right: 13px;
}

.house-description-row:first-of-type {
  margin: 10px 0;
}

.house-review {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.house-review .star {
  width: 18px;
  height: 17px;

  display: inline-block;

  margin-right: 2px;

  background-image: url("../img/star.svg");
  background-position: 0 0;
  background-size: 18px 17px;
  background-repeat: no-repeat;
}

.house-review .star:last-child {
  margin-right: 0;
}

.house-review .rate {
  background-color: #f2f2f2;
  display: inline-block;
}

.rate span {
  font-size: 14px;
  line-height: 27px;
  color: #666666;
  text-align: center;

  padding: 0 16px 0 13px;
  margin: 0;
}
