@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Скрывает скрытые заголовки */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.layout {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;

  position: relative;

  background-color: #ffffff;
}

/* Кнопки */

.button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;

  display: inline-block;

  padding: 0;
  margin: 0;

  border: none;
}

.button-lg {
  font-size: 21px;
  line-height: 26px;
}

.button-sm {
  padding: 0 17px;
  line-height: 27px;
}

.button-coffee {
  background-color: #766357;
}

.button-coffee:hover,
.button-coffee:focus {
  background-color: #604e43;
  outline: 0;
}

.button-coffee:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.button-seagull {
  background-color: #81b3d2;
}

.button-seagull:hover,
.button-seagull:focus {
  background-color: #669ec0;
  outline: 0;
}

.button-seagull:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

/* Подготовка основного текста */

.title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.num {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.num::before {
  content: '\2014\00a0';
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.num::after {
  content: '\00a0\2014';
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

/* Хэдер */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  height: 56px;
}

.site-navigation {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a.site-navigation-current {
  color: #766357;
}

.main-navigation > a,
.main-navigation > ul {
  flex-basis: 0;
}

.site-navigation.col-one {
  order: 1;
  flex-grow: 239;
}

.site-navigation.col-two {
  order: 3;
  flex-grow: 239;
}

.main-header-logo {
  text-align: center;

  order: 2;
  flex-grow: 122;

  z-index: 1;
}

/* Hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  height: 512px;
  background: #9fc3db url("../img/hero-background-res1200.jpg") 0 -57px no-repeat;
}

.hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 100%;
  max-height: 57px; /* Кажется, это свойство здесь ни к чему, но я очень хотел, чтобы обводка внешней границы смотрелась кашерно :) */

  background-image: url("../img/mask-res1200.png"); /* Перезалил, но проблема с 1px слева и 1px снизу при zoom+ осталась */
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;

  /* outline: 2px dashed #999999; */
}

/* Intro */

.intro {
  /* Высота этого блока в полноразмерной версии: 216px, в резине — 211px. А как ещё при этом учитывать внутренние элементы? */
  display: flex;
  flex-direction: column;
  align-items: center;

  outline: 2px dashed red;
}

.intro .title,
.intro .description {
  line-height: 26px;
  text-align: center;
}

.intro .title {
  white-space: pre-line;

  margin: 0;
  padding: 0;
}

.intro .description {
  margin: 0;
  padding: 0;
}

/* Преимущества */

.features {
  display: flex;
  flex-direction: column;

  outline: 2px dashed red;
}

ol.features-list,
ul.feature-item-properties {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.feature-item {
  text-align: center;

  max-width: 400px;
  min-width: 236px;
  height: 256px;

  margin: 0;
  /* padding: 20px; */

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  flex-basis: 236px;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.feature-item-lg {
  flex-grow: 1;

  background-color: #81b3d2;
}

.feature-item-sm {
  background-color: #eeeeee;
}

.feature-item-lg .title,
.feature-item-lg .description,
.feature-item-lg .num,
.feature-item-lg .num::before,
.feature-item-lg .num::after {
  color: #ffffff;
}

.feature-item-sm .title {
  color: #000000;
}
.feature-item-sm .description {
  color: #333333;
}

/* Приглашение поискать гостиницу */

.search {
  display: flex;
  flex-direction: column;

  outline: 2px dashed #999999;
}

.call-to-action {
  height: 290px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
}

.call-to-action h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;

  margin-top: 50px;
}

.call-to-action .description {
  line-height: 24px;
  white-space: pre-line;

  outline: 2px dashed #999999;
}

.call-to-action button {
  line-height: 86px;
  width: 568px;

  margin: 0;
  padding: 0;

  margin: auto auto 0 auto;
}

.google-map {
  height: 594px;
  background-color: #cad7a6;
  background-image: url("../img/map.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

/* Футер */

.main-footer {
  height: 120px;
  width: 100%;

  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.9);

  z-index: 1;

  outline: 2px dashed #999999;
}


.main-footer.inner-page {
  position: relative;

  background-color: #ffffff;
}

.main-footer > div,
.main-footer > ul {
  flex-basis: 0;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;

  flex-grow: 1;

  /* outline: 2px dashed #999999; */
}

ul.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  outline: 2px dashed #999999;
}

ul.footer-social li:not(:last-child) {
  margin-right: 6px;
}

.social-split {
  display: none;
}

.social-split path {
  fill: #ffffff;
}

.footer-social .social-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-tw svg {
  width: 17px;
  height: 15px;
}

.social-fb svg {
  width: 12px;
  height: 22px;
}

.social-yt svg {
  width: 20px;
  height: 16px;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:hover svg {
  fill: #ffffff;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active svg {
  fill: #ffffff;
  fill-opacity: 0.3;
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  /* outline: 2px dashed #999999; */
}

.footer-copyright span {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin-right: 8px;
}

.footer-copyright svg {
  vertical-align: middle;
}

.footer-copyright a path {
  fill: #231f20;
}

.footer-copyright a:hover path {
  fill: #81b3d2;
}

.footer-copyright a:active path {
  fill: #bdbbbc;
}

/* Модалка с формой на главной */

.modal-hotel-search-form {
  width: 100%;
  bottom: 161px;
  margin: 0 auto;

  position: absolute;
}

.hotel-search-form {
  width: 568px;
  margin: 0 auto;
  padding: 55px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: #ffffff;
}

.hotel-search-form .form-field {
  height: 38px;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 100%;

  position: relative;

  /* outline: 2px dashed #999999; */
}

.hotel-search-form .form-field-half {
  flex: 0 1 50%;
  outline: 2px dashed red;
}

.hotel-search-form input {
  font-size: 14px;
  /* line-height: 26px; */
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  border: 2px solid #f2f2f2;

  background-color: #f2f2f2;
}

.hotel-search-form .input-lg {
  height: 100%;

  box-sizing: border-box;
  padding-left: 13px;

  flex-grow: 1;
}

.hotel-search-form .form-field:first-child {
  margin-bottom: 29px;
}

.hotel-search-form .form-field:nth-child(2) {
  margin-bottom: 30px;
}

.hotel-search-form label {
  font-size: 14px;
  /* line-height: 26px; */
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
}

.hotel-search-form .form-field label[for="arrival-date-field"] {
  margin-right: 21px;
}

.hotel-search-form .form-field label[for="departure-date-field"] {
  margin-right: 17px;
}

.hotel-search-form .form-field label[for="number-of-adults-field"] {
  margin-right: 41px;
}

.hotel-search-form .form-field label[for="number-of-children-field"] {
  margin-right: 27px;
}

.hotel-search-form input[type="text"]:hover {
  border: 2px solid #ebebeb;
  background-color: #ebebeb;
}

.hotel-search-form input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: 0;
}

.hotel-search-form .form-field-half > button,
.hotel-search-form .form-field-half > input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hotel-search-form .form-field-half .math-symbol-minus {
  order: 1;
}

.hotel-search-form .form-field-half input {
  order: 2;
}

.hotel-search-form .form-field-half input::-webkit-outer-spin-button,
.hotel-search-form .form-field-half input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hotel-search-form .form-field-half .math-symbol-plus {
  order: 3;
}

.hotel-search-form button[type="submit"] {
  line-height: 58px;
  width: 100%;
  margin-top: 54px;
}

button.calendar-icon {
  margin: 0;
  padding: 0;
  font-size: 0;

  width: 21px;
  height: 22px;

  position: absolute;
  right: 9px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;
  background: 0;
  outline: 2px dashed red;
}

button.calendar-icon svg {
  width: 21px;
  height: 22px;
  fill: #cacaca;
}

button.calendar-icon:hover svg {
  fill: #000000;
}

button.calendar-icon:active svg {
  fill: #81b3d2;
}

.hotel-search-form button.input-control,
.hotel-search-form input[type="number"] {
  width: 38px;
  height: 38px;

  font-size: 14px;
  line-height: 26px;

  border: 0;
  padding: 0;
  margin: 0;

  background-color: #f2f2f2;
}

.hotel-search-form .input-control:active,
.hotel-search-form .input-control:focus,
.hotel-search-form .calendar-icon:active,
 .hotel-search-form .calendar-icon:focus {
  outline: 0;
}

.input-control.math-symbol-minus svg {
  width: 12px;
  height: 3px;
}

.input-control.math-symbol-plus svg {
  width: 11px;
  height: 11px;
}

.input-control svg {
  stroke: #a9a9a9;
}

.input-control:focus {
  /* outline: 0; */
}

.input-control:hover svg {
  stroke: #000000;
}

.input-control:active svg {
  stroke: #81b3d2;
}


/*
  ====== Каталог ======
*/

/* Результаты поиска */

.search-results h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.search-results h3:hover {
  color: #81b3d2;
}

.search-results h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-results .found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.search-results .sort-filters {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.sort-filters ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sort-by-type a {
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}

.current-sort-type a {
  color: #81b3d2;
  border-bottom: 0;
}

.sort-by-type a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-by-type a:active {
  color: #000000;
  border-bottom: 0;
}

/* Почему-то не работает */

.sort-by-order svg {
  width: 11px;
  height: 10px;
  fill: #b2b2b2;
}

.current-sort-order svg {
  fill: #81b3d2;
}

.sort-by-order a:hover svg {
  fill: #000000;
}

.sort-by-order a:active svg {
  fill: #b2b2b2;
}

/* Конец почему-то не работает */

/* Сомневаюсь, что такая реализация правильная */
.star {
  width: 18px;
  height: 17px;

  display: inline-block;

  margin-right: 5px;

  background-image: url("../img/star.svg");
  background-position: 0 0;
  background-size: 18px 17px;
  background-repeat: no-repeat;
}

.star:last-child {
  margin-right: 0;
}

/* Конец сомнениям */

.rate {
  background-color: #f2f2f2;
  display: inline-block;
}

.rate span {
  font-size: 14px;
  line-height: 27px;
  color: #666666;

  padding: 0 16px 0 13px;
  margin: 0;
}
